@if (categories && variableService.sideNaveOpen) {
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title> CATEGORIES</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="false">
        <mat-list-item [ngClass]="{'selected': selectedCategory === undefined}">
            <button (click)="onShowCategory(undefined)">ALL</button>
        </mat-list-item>
        @for (category of categories; track $index) {
        <mat-list-item [ngClass]="{'selected': selectedCategory === category}">
            <button (click)="onShowCategory(category)">{{category.toUpperCase()}}</button>
        </mat-list-item>}
    </mat-selection-list>
</mat-expansion-panel>
}