.height {
  max-height: calc(100vh - 64px);
  height: 100%;
}

.padding {
  padding: 0.75rem 100px;
}

.position {
  top: -3px;
  left: -2px;
}

@media (max-width: 780px) {
  .padding {
    padding: 0.75rem 2rem;
  }
}

@media (max-width: 600px) {
  .height {
    max-height: calc(100vh - 56px);
  }
  .padding {
    padding: 0.75rem;
  }
}

@media (max-width: 508px) {
  .mdc-button--raised {
    padding: 6px !important;
  }
  .mat-mdc-raised-button {
    height: fit-content;
  }
}
